@font-face {
    font-family: 'SamoSansProRegular';
    src: url('../assets/fonts/Samo_Sans_Pro/Samo_Sans_Pro_Regular/SamoSansPro-Regular.eot');
    src: url('../assets/fonts/Samo_Sans_Pro/Samo_Sans_Pro_Regular/SamoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Samo_Sans_Pro/Samo_Sans_Pro_Regular/SamoSansPro-Regular.svg#SamoSansPro-Regular') format('svg'),
    url('../assets/fonts/Samo_Sans_Pro/Samo_Sans_Pro_Regular/SamoSansPro-Regular.ttf') format('truetype'),
    url('../assets/fonts/Samo_Sans_Pro/Samo_Sans_Pro_Regular/SamoSansPro-Regular.woff') format('woff'),
    url('../assets/fonts/Samo_Sans_Pro/Samo_Sans_Pro_Regular/SamoSansPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUIBold';
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Bold/SegoeUIBold.eot');
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Bold/SegoeUIBold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Bold/SegoeUIBold.woff2') format('woff2');
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Bold/SegoeUIBold.svg#SegoeUIBold') format('svg'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Bold/SegoeUIBold.ttf') format('truetype'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Bold/SegoeUIBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUIItalic';
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Italic/SegoeUIItalic.eot');
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Italic/SegoeUIItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Italic/SegoeUIItalic.woff2') format('woff2');
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Italic/SegoeUIItalic.svg#SegoeUIItalic') format('svg'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Italic/SegoeUIItalic.ttf') format('truetype'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Italic/SegoeUIItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUILight';
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Light/SegoeUILight.eot');
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Light/SegoeUILight.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Light/SegoeUILight.woff2') format('woff2');
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Light/SegoeUILight.svg#SegoeUILight') format('svg'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Light/SegoeUILight.ttf') format('truetype'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Light/SegoeUILight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUIRegular';
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Regular/SegoeUIRegular.eot');
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Regular/SegoeUIRegular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Regular/SegoeUIRegular.woff2') format('woff2');
    src: url('../assets/fonts/Segoe_UI/Segoe_UI_Regular/SegoeUIRegular.svg#SegoeUIRegular') format('svg'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Regular/SegoeUIRegular.ttf') format('truetype'),
    url('../assets/fonts/Segoe_UI/Segoe_UI_Regular/SegoeUIRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SofiaProLight';
    src: url('../assets/fonts/Sofia_Pro/Sofia_Pro_Light/SofiaProLight.eot');
    src: url('../assets/fonts/Sofia_Pro/Sofia_Pro_Light/SofiaProLight.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Sofia_Pro/Sofia_Pro_Light/SofiaProLight.svg#SofiaProLight') format('svg'),
    url('../assets/fonts/Sofia_Pro/Sofia_Pro_Light/SofiaProLight.ttf') format('truetype'),
    url('../assets/fonts/Sofia_Pro/Sofia_Pro_Light/SofiaProLight.woff') format('woff'),
    url('../assets/fonts/Sofia_Pro/Sofia_Pro_Light/SofiaProLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StRydeRegular';
    src: url('../assets/fonts/St_Ryde/St_Ryde_Regular/StRydeRegular.eot');
    src: url('../assets/fonts/St_Ryde/St_Ryde_Regular/StRydeRegular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/St_Ryde/St_Ryde_Regular/StRydeRegular.svg#StRydeRegular') format('svg'),
    url('../assets/fonts/St_Ryde/St_Ryde_Regular/StRydeRegular.ttf') format('truetype'),
    url('../assets/fonts/St_Ryde/St_Ryde_Regular/StRydeRegular.woff') format('woff'),
    url('../assets/fonts/St_Ryde/St_Ryde_Regular/StRydeRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body, .wrapper {
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.container {
    max-width: 1020px;
    width: 100%;
}

/*partners block*/
.partners {
    display: flex;
    width: 100%;
    justify-content: center;
}

.partners__titleWrapper {
    background-image: url("../assets/img/pattern.png");
    background-repeat: repeat-x;
    background-position: center 55%;
}

.partners__title {
    display: inline-block;
    color: #000000;
    font-family: "Segoe UI", sans-serif;
    font-size: 23px;
    padding-right: 5px;
    background: white;
}

.partners__title_bold {
    font-weight: 700;
}

.partners__partnersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F5F5F5;
    border: 0.5px solid rgba(0, 0, 0, 0.11);
    margin: 40px 0 60px 0;
}

.partners__partner {
    display: flex;
    height: 70px;
    min-width: 150px;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgba(0, 0, 0, 0.11);
}

.partners__partnerIcon {
    max-width: 205px;
    height: 55%;
    width: 74%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*footer*/
.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 80px;
    background: #E8E8E8;
    border-bottom: 10px solid #82699d;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    color: #454242;
    font-family: "Segoe UI", sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-right: 20px;
}

.footer__socialNetworks {
    display: flex;
}

.footer__socialNetwork {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 20px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer__socialNetwork:last-child {
    margin-right: 0;
}

/*slider block*/
.slider-container {
    max-width: 796px;
    width: 100%;
    height: 380px;
}

#slider-slides {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    transform: translate(0, -14%);
}

#slider-slides > li > img{
    width: 100%;
    height: 100%;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slider {
    display: flex;
    width: 100%;
    justify-content: center;
}

.slider__rightBtn {
    display: inline-block;
    background-size: cover;
    width: 27px;
    height: 49px;
    opacity: 0.6;
    transition: opacity .5s;
    margin-left: auto;
}

.slider__leftBtn {
    display: inline-block;
    position: relative;
    margin-left: -.126%; /*because there a little gap from anywhere*/
    background-size: cover;
    width: 27px;
    height: 49px;
    opacity: 0.6;
    transition: opacity .5s;
}

.slider-btns {
    position: relative;
    display: flex;
    width: 100%;
    z-index: 2;
    flex-flow: row wrap;
    transform: translateY(325%);
}

.slider__rightBtn:hover, .slider__leftBtn:hover  {
     opacity: 1;
}

.slider__h1 {
    margin-top: 100px;
    text-shadow: -4px 4px 1px #43444e;
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'StRydeRegular', sans-serif;
}

.slider-text-wrapper {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: -2%;
}

.slider__h2 {
    text-shadow: -1px 1px 1px #43444e;
    margin-top: -80px;
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: 'StRydeRegular', sans-serif;
}

@media screen and (max-width: 1080px) {
    .container {
        width: 90%;
    }
}

@media all and (max-width: 720px) {
    .slider-container {
        height: 340px;
    }
}

@media all and (max-width: 480px) {
    .slider-container {
        height: 320px;
    }

    #slider-slides {
        transform: translate(0, -5%);
    }

    .slider__rightBtn, .slider__leftBtn {
        display: none;
    }
    .slider__h1 {
        font-size: 80px;
    }

    .slider__h2 {
        font-size: 18px;
        margin-top: -60px;
    }
}

@media all and (max-width: 320px) {
    .slider-container {
        height: 300px;
    }
}